@using StepMap.WebClient.ViewModels
@using StepMap.ServiceContracts.DTO
@model UserStepMapViewModel

        <script type="text/javascript">
            function editProjectName()
            {
                this.$('.project').addClass("editing");
                this.$('.project-name-input').focus();
            }

            function closeEditProjectName(projectId, name)
            {
                $.ajax({
                    url: '@Url.Action("SetProjectName", "Home")',
                    type: 'GET',
                    dataType: 'json',
                    // we set cache: false because GET requests are often cached by browsers
                    // IE is particularly aggressive in that respect
                    cache: false,
                    data: { projectId: projectId, name: name },
                    success: function () {
                    }
                });

                this.$('.project').removeClass("editing");
                this.$('#project-name').text(name);
            }
        </script>

        <body>
            <div id="main">
                <div id="header"><p>Project</p><p>Next Step</p></div>
                <ul id="project-list">
                    @{ int num = 0;}
                    @foreach (var project in Model.Projects)
                    {
                        <li>
                            @if (project != null)
                            {
                                var nextStep = project.FinishedSteps[project.FinishedSteps.Count - 1];
                                var stepsWidth = project.FinishedSteps.Count * 10;
                                var invStepsWidth = 200 - project.FinishedSteps.Count * 10;
                                var days = (int)(DateTime.Now - project.StartDate).TotalDays;
                                    
                                <div class="projectcontainer">
                                    <div class="project" style="position: relative; ">
                                        <div class="display" ondblclick="editProjectName();">
                                            <label id="project-name">@project.Name</label>
                                        </div>
                                        <div class="edit">
                                            <input class="project-name-input" type="text" onblur="closeEditProjectName(@project.Id, document.getElementsByClassName('project-name-input')[0].value);" value="@project.Name" />
                                        </div>
                                        @using (Html.BeginForm("CloseProject", "Home", new { projectId = @project.Id }, FormMethod.Post, null))
                                        {
                                        <button id="terminate"></button>
                                        }
                                    </div>
                                    <div class="step-out" style="background-position: -@(invStepsWidth)px 0;">
                                        <div class="step" style="position: relative;right: -@(stepsWidth)px;">
                                            <div class="stepname">
                                                <div class="display">
                                                    <label id="nextStep">@nextStep.Name</label>
                                                </div>
                                                <div class="edit">
                                                    <input class="nextstep-name-input" type="text" value="@nextStep.Name" />
                                                </div>
                                            </div>
                                            <div class="stepdeadline">
                                                <div class="display">
                                                    <label id="deadline">@nextStep.Deadline</label>
                                                </div>
                                                <div class="edit">
                                                    <input class="nextstep-deadline-input" type="text" id="datepicker" value="@nextStep.Deadline" />
                                                </div>
                                            </div>
                                            @using (Html.BeginForm("CloseStep", "Home", new { projectId = @project.Id }, FormMethod.Post, null))
                                            {
                                            <button id="closeStep"></button>
                                            }
                                        </div>

                                    </div>

                                    <div class="vote" style="position: relative;right: -@(stepsWidth)px;">
                                        <label id="days" style="color: #9f9fb0;position: relative; top:67px; left: 105px;">@days</label>
                                        <label id="goods" style="color: #ef4035;position: relative; top:12px; left: 83px;">@project.GoodPoint</label>
                                        <label id="bads" style="color: #ef4035; position: relative; top:67px; left: 20px;font-family: 'bignoodletitlingregular';">@project.BadPoint</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="newprojectcontainer">
                                    @using (Html.BeginForm("CreateProject", "Home", new { position = @num }, FormMethod.Post, null))
                                    {
                                        <button id="newProject" value="@num"></button>
                                    }
                                </div>
                            }
                        </li>
                num++;
            }
                </ul>
                <div id="sidebar"><h1>StepMap</h1><img id="logo" src="@Url.Content("~/Content/Images/stepmap_logo_kis_img.png")"><p>Üdvözlünk!</p><a id="logout" href="logout">Kijelentkezés</a></div>
            </div>

        </body>
